.heading{
    color:blue;
    text-align:center;
    text-transform: uppercase;
    text-decoration: underline; 
}
p{
    text-align: center;
    text-align: end;
    background-color: aliceblue;
    
}
#gii
    color::after;
    
